---
---

@import "{{ site.theme }}";

body {
    --background: #f5f5f5 url(/assets/bg.png) repeat;
    --color-strong: black;
    --color-normal: #303030;
    --color-faint: gray;
    --color-very-faint: lightgray;
    --color-weak: #ccc;
    --color-very-weak: white;
    --color-link: #1f5f87;
    --color-quote: #789922;
    --color-subject: #0f0c5d; 
    --post-color: var(--color-normal);
    --post-background: white;
    --post-border: 1px solid lightgray;
    --post-shadow:  4px 4px lightgray;
    --post-highlighted-color: var(--color-normal);
    --post-highlighted-background: #f0f0f0;
    --post-highlighted-border: 1px solid lightgray;
    --post-highlighted-shadow: 4px 4px lightgray;
    --code-background: #fbfaf9;
    --code-border: 1px solid #ccc;
    --code-border-left: 4px solid #ccc;
    --box-border: 1px solid lightgray;
    --box-background: white;
    --box-header-color: black;
    --box-header-background: lightgray;
    --box-header-border: none;
    --box-header-border-bottom: none;
    --header-background: none;
    --input-color: var(--color-normal);
    --input-border: 1px solid #aaa;
    --input-background: white;
    --input-outline: none;
    --input-focused-color: var(--color-normal);
    --input-focused-border: 1px solid #1f1f1f;
    --input-focused-background: white;
    --input-focused-outline: none;
    --pager-color: var(--color-normal);
    --pager-border: 1px solid lightgray;
    --pager-background: white;
    --image-shadow: 0 6px 6px 0 #dfdfdf99;
    --link-normal: var(--color-normal);
    --link-hover: var(--color-faint);
}
